@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar-start */

body {
    font-family: "Inter", sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.brand-logo img {
    width: 100px;
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
}

.nav-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    
}

.brand-items ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-left: 20rem;
}

.brand-items ul a {
    text-decoration: none;
    color: #25272b;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-weight: 600;
}

.brand-items a:hover {
    color: #3f8ffc;
    transition: 0.5s;
}

.icons  {
    display: flex;
    margin-left: 5rem;
    gap: 1rem;
    font-size: 13px;
}

i:hover  {
    color: #3f8ffc;
    transition: 0.5s;
}
/* navabr-end */

/* body-aria-start */
.background-aria {
    width: 100%;
    height: 700px;
    background-color: #D9E8FE;
}

.body-items {
    width: 100%;
    height: 600px;
    display: flex;
}

.body-items div {
    flex: 1;
    justify-content: space-between;
}
.left-aria {
    padding: 10rem 0;
}

.left-aria h3 {
    color: #3f8ffc;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
}

.left-aria h2 {
    margin: 2rem 0;
    color: #25272b;
    font-size: 40px;
    font-weight: 500;
}

.left-aria p {
    color: #00000080;
    font-size: 17px;
}

input {
    margin-top: 3rem;
    padding: 28px;
    width: 80%;
    height: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 17px;
}

.right img {
    width: 100%;
    height: 500px;
}
/* body-aria-end */

.product-featured h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 3rem;
    color: #25272b;
    font-weight: 500;
}

.product-featured p {
    text-align: center;
    color: #9da9bb;
    margin-top: 1rem;
    line-height: 1.5rem;
}

/* features-items */

.icons i {
    display: flex;
    align-items: center;
    text-align: center;
}

.products-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 250px;
}

.products-box i {
    font-size: 25px;
    color: #3f8ffc;
}

.products-box h2 {
    margin-top: 1rem;
    color: #212529;
    font-size: 17px;
}

.products-box p {
    color: #9da9bb;
    margin-top: 1rem;
    line-height: 1.5rem;
}

.three-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-about-section {
    display: flex;
    gap: 3rem;
    margin-left: 3rem;
    margin-top: 5rem;
}

.work-about-section span {
    width: 1px;
    height: 400px;
    background-color: #DCE9F3;
}

.image img {
    margin-left: 8rem;
  
}

.work-about h3 {
    color: #25272b;
    font-size: 18px;
}

.work-about p {
    color: #9da9bb;
    margin-top: 12px;
    line-height: 1.3rem;
}

.picture-section {
    width: 100px;
    height: 100px;
    border: 3px solid #D9D9D7;
    margin-left: 18rem;
    margin-top: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.picture-box img {
    width: 100%;
    height: 100px;
    overflow: hidden;
    object-position: center;
    background-size: 100%;
}

.carousel-image-section div  {
    text-align: center;
    margin-top: 3rem;
    width: 100px;
    height: 100px;
    border: 3px solid #D9D9D7;
    margin-left: 33rem;
    border-radius: 50%;
    overflow: hidden;
}

.carousel-image-section div img {
    width: 100%;
    height: 100%;
    background-size: 100%;
    object-fit: cover;
}

.carousel-image-section h2 {
    text-align: center;
    margin-top: 1rem;
    color: #25272b;
}

.carousel-image-section p {
    text-align: center;
    margin-top: 1rem;
    line-height: 1.3rem;
    color: #9da9bb;
}

.four-items {
    display: flex;
    justify-content: space-evenly;
}

.flex-box {
    width: 100px;
    height: 90px;
    
    margin-top: 3rem;
}

.flex-box img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.flex-box img:hover {
    opacity: 1;
    transition: 0.6s;
}

